__pycache__
.DS_Store
.txt
.vscode
.idea
*.log
*.pyc
*.pyo
*.pyd
*.zip
*.safetensors
progetto-venv
dataset_hf
env/
venv/
ENV/
env.bak/
venv.bak/
pyvgdl-venv/
dataset/.env
unsloth_compiled_cache
unsloth_dataset_ready/
models/qwen3.5/supervised-learning/16-32-0.05
models/deepseek/supervised-learning/16-32-0.05-4bit
models/**/checkpoint-*/
models/**/model-finetuned/
models/**/grpo-output/
models/**/optimizer.pt
models/**/scheduler.pt
models/**/rng_state.pth
models/**/training_args.bin
.claude
environment.yml
