__pycache__
.DS_Store
.txt
.vscode
.idea
*.log
*.pyc
*.pyo
*.pyd
progetto-venv
dataset_hf
env/
venv/
ENV/
env.bak/
venv.bak/  
pyvgdl-venv/
dataset/.env
unsloth_compiled_cache
models/qwen3.5/supervised-learning/16-32-0.05
models/deepseek/supervised-learning/16-32-0.05-4bit
.claude